.App {
  font-family: sans-serif;
  text-align: center;
}
.Header {
  text-align: center;
  bottom: unset;
  background-color: #3a506b;
  color: white;
}
button {
  background-color: #0b132b;
  color: #bfc8d3;
  width: 90px;
  height: 60px;
  border: px;
  border-color: #04ffd9;
}
button:hover {
  color: black;
  background: #6fffe9;
}

